#game-bar {
    box-sizing: content-box;
    width: 100%;
    padding: 20px 0 20px 0;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 3px solid #768ea3;
}

#game-bar div,
#game-bar button {
    width: 30%;
    box-sizing: border-box;
    background: transparent;
    color: white;
    font-size: inherit;
    border: 0;
    font-weight: 500;
    height: 25px;
}

#game-bar .game-name {
    user-select: text;
    text-transform: none;
}

#game-bar .title {
    font-family: 'Shadows Into Light Two', "Helvetica Neue", sans-serif, cursive;
    font-weight: 600;
}

#game-bar .link {
    cursor: pointer;
    text-transform: uppercase;
}

#game-bar .link:hover,
#game-bar .link:focus {
    letter-spacing: 5px;
    font-weight: 300;
}