#game-bar div,
#game-bar button {
    width: 30%;
    box-sizing: border-box;
    background: transparent;
    color: white;
    font-size: inherit;
    border: 0;
    font-weight: 500;
}

#game-bar .game-name {
    user-select: text;
    text-transform: none;
}

#game-bar .link {
    cursor: pointer;
    text-transform: uppercase;
}

#game-bar .link:hover,
#game-bar .link:focus {
    letter-spacing: 5px;
    font-weight: 300;
}

#game-bar .title {
    font-size: 1.2em;
}