* {
    transition: all 350ms;
    user-select: none;
}

input {
    user-select: text;
}

body {
    margin: 0;
    background: #282c34;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    text-align: center;
    user-select: none;
}

button,
.button {
    user-select: none;
}

.logout .button {
    font-size: 1em;
}

.logout {
    background: #357335;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#actions {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    color: white;
    box-sizing: border-box;
    margin: 20px auto;
}

#actions .item {
    width: 40vw;
    height: 20vh;
    line-height: 20vh;
    box-sizing: border-box;
    margin: 5px 10px;
    background: #357335;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

#score-controller {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

#score-controller .button-col {
    width: 50%;
}

.score-button.reset {
    text-transform: uppercase;
}

.score-button {
    width: 70%;
    padding: 7%;
    border-radius: 20px;
    background: #134074;
    margin: 7px auto;
    font-size: 2em;
}

#currentGame {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    color: white;
    background: #3E363F; /* onyx */
    background: #320E3B; /* dark purple */
    background: #2d272d; 
}

#game-bar {
    box-sizing: content-box;
    width: 100%;
    padding: 10px 0 20px 0;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.2em;
    height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 3px solid #768ea3;
}

#game-bar div {
    width: 30%;
    box-sizing: border-box;
}

#game-bar .game-name {
    user-select: text;
    text-transform: none;
}

#game-bar .link {
    cursor: pointer;
}

#game-bar .title {
    font-size: 1.2em;
}


#scoreboard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
}

.player {
    width: 30%;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: 5px auto;
    box-sizing: border-box;
}

.player div {
    font-size: 2em;
}

.player .indicator {
    color: transparent;
    font-size: 1.5em;
}

.player.me .indicator {
    color: #d4c128;
}

.player .name {
    margin: 10px auto;
    padding-bottom: 7px;
    border-bottom: 1px solid grey;
}

.player.me .name {
    border-bottom: 1px solid #d4c128;
}

.player .score {
    font-size: 2em;
}

.player.flashGreen .score,
.player.flashGreen .indicator {
    animation-name: flash-green;
    animation-duration: 1s;
}


#double-indicator.active {
    background: rgb(73, 118, 182);
}

@keyframes flash-green {
    from { 
        color: #4976B6;
    }
}


#double-indicator {
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px 0;
    margin: 10px auto 10px auto;
    width: 15%;
    border-radius: 20px;
    background: #768ea3;
    background: #4976B6;
}

#tab-select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

#tab-select div {
    border-bottom: 5px solid rgba(0,0,0,0);
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    margin: 2px auto 15px auto;
    cursor: pointer;
    width: 20%;
}

#tab-select .signup.active {
    border-bottom: 5px solid #49C6E5
}

#tab-select .login.active {
    border-bottom: 5px solid #24c136;
}

#login {
    width: 100%;
    height: 100vh;
    background: #276573;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.5em;
}

#login .inputs {
    display: flex;
    flex-flow: column nowrap;
    background: inherit;
    border-radius: inherit;
}

#login .inputs button {
    border-radius: 10px;
    text-transform: uppercase;
}

#login .inputs input,
#login .inputs button {
    box-sizing: border-box;
    width: 80vw;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    border: 0;
}

@media screen and (min-width: 768px){
    #login .inputs input,
    #login .inputs button,
    #tab-select {
        width: 50vw;
    }
}

@media screen and (min-width: 1224px){
    #login .inputs input,
    #login .inputs button,
    #tab-select {
        width: 30vw;
    }

}

#login .inputs input {
    background: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    color: white;
}

#login .inputs button {
    color: white;
}

#login .inputs input::placeholder {
    color: lightgrey;
}

#login .inputs.signup input:focus {
    border-bottom: 2px solid #49C6E5;
}

#login .inputs.login input:focus {
    border-bottom: 2px solid #24c136;
}

#login h2 {
    text-transform: uppercase;
    color: white;
}

#login button.login {
    background: #24c136;
}

#login button.signup {
    background: #49C6E5;
}

#login #errors {
    background: inherit;
    border-radius: inherit;
    color: white;
    padding: 10px 0;
}

#login .inputs button.disabled,
#login .inputs button.disabled:hover {
    background: grey ;
    cursor: not-allowed;
}

#login .login input.invalid:focus {
    border-bottom: 2px solid grey !important;
}
#login .login input.valid {
    border-bottom: 2px solid #24c136 !important;
}
#login .signup input.valid {
    border-bottom: 2px solid #49C6E5 !important;
}

#app-error-bar {
    padding: 20px 0;
    background: #c18a00;
    color: white;
    font-size: 1em;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
}

#join-details .title {
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

#join-details {
    width: 100%;
    height: 100vh;
    background: rgb(89, 17, 17);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#join-details h2 {
    text-align: center;
    margin-bottom: 5vh;
    text-transform: uppercase;
}

#join-details input {
    width: 40%;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 0;
    border: 0;
    padding: 10px 5px;
    text-align: center;
    box-sizing: border-box;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5em;
}

#join-details input::placeholder {
    color: lightgrey;
}

#join-details input:focus {
    border-bottom: 2px solid #24c136;
}

#join-details .actions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
}

#join-details .actions button,
#join-details .actions > div {
    width: 40%;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background: black;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 2vh;
    cursor: pointer;
    font-weight: 500;
    border: 0;
    box-sizing: border-box;
}

#join-details .actions .join {
    background: #F9EBE0;
    color: #208AAE;
}

#join-details .actions .logout {
    background: #546A7B;
    color: #F9EBE0;
    text-shadow: 2px 1px 3px #F9EBE0 inset;
}

#join-details {
    background: #0D2149;
}

#join-details #join-input:focus {
    border-bottom: 2px solid #208AAE;
}

input:focus {
    outline: none;
}

@media (hover: hover) {
    #actions .item:hover {
        background: #2b480e;
        cursor: pointer;
    }
    #double-indicator:hover {
        background: #1B998B;
    }
    #tab-select div.signup:hover {
        border-bottom: 5px solid #49C6E5
    }
    #tab-select div.login:hover {
        border-bottom: 5px solid #24c136
    }
    #login button:hover {
        background: orange;
        cursor: pointer;
    }
    #login button.login:hover {
        background: #0a7d18;
    }
    #login button.signup:hover {
        background: #0f4493;
    }
    .score-button:hover {
        background: rgb(73, 118, 182);
        cursor: pointer;
    }
    .score-button.reset:hover {
        background: grey;
    }
    #join-details .actions button.join:hover {
        color: #F9EBE0;
        background: #208AAE;
    }
    #join-details .actions .logout:hover {
        background: #320E3B;
        color: #F9EBE0;
    }
    #game-bar .link:hover {
        letter-spacing: 5px;
        font-weight: 500;
    }
    #double-indicator.active:hover {
        background: #768ea3;
    }
}


#version {
    color: white;
    font-size: .5em;
    margin-top: 10px;
    text-align: center;
}