body {
  background: #282c34;
}

.App {
  text-align: center;
  user-select: none;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

.app-header h1 { margin: 10px auto; }

#actions {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: white;
  box-sizing: border-box;
  margin: 20px auto;
}

#actions div {
  width: 40vw;
  height: 20vh;
  line-height: 20vh;
  box-sizing: border-box;
  margin: 5px auto;
  background: green;
  border-radius: 20px;
}

#actions div:hover {
  background: rgb(82, 148, 16);
  cursor: pointer;
}

#currentGame {
  /* height: 0vh; */
  /* line-height: 20vh; */
  padding: 10px 0;
  color: white;
  background: blue;
}

#currentGame .close {
  display: inline-block;
  position: relative;
  top: -8vh;
  left: 60%;
}

#scoreboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.player {
  background: grey;
  width: 30%;
  padding-bottom: 30px;
}

#login {
  width: 50%;
  height: 50vh;
  margin: 25vh auto;
  background: rgb(41, 146, 156);
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

#login h2 {
  text-transform: uppercase;
  color: white;
}

#login input {
  margin: 10px 0px;
}

#login button:hover {
  background: orange;
  cursor: pointer;
}

#login button {
  transition: all 350ms;
  margin: 10px 0px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

#login button.login { background: #c1ae24; }
#login button.signup { background: #c19c24; }

#login button:hover {
  background: green;
} 

#logout-button:hover {
  background: pink;
  border-radius: 15px;
}

#logout-button {
  padding: 10px;
  cursor: pointer;
}

#score-controller {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background: purple;
  align-content: center;
}

.score-button {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  background: rgb(0, 72, 255);
  margin: 2px auto;
  font-size: 2em;
}

.score-button:hover {
  background: blue;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
